<sly-field
  title="Choose Device"
  description="Load model on CPU or GPU (cuda device)"
>
  <el-input v-model="state.device" style="width: 250px"></el-input>
  <el-select v-model="state.device">
    <el-option key="cpu" label="cpu" value="cpu" />
    <el-option key="cuda" label="cuda" value="cuda" />
    <el-option key="cuda:0" label="cuda:0" value="cuda:0" />
    <el-option key="cuda:1" label="cuda:1" value="cuda:1" />
    <el-option key="cuda:2" label="cuda:2" value="cuda:2" />
    <el-option key="cuda:3" label="cuda:3" value="cuda:3" />
  </el-select>
</sly-field>
